# Color scheme configuration for Terminator terminal emulator (http://www.tenshu.net/terminator/ and https://launchpad.net/terminator)
# 
# Copy the following lines within the [profiles] section of terminator configuration file at ~/.config/terminator/config

[[4bit-1400191440077]]
  use_theme_colors = False
  background_color = "#0d1926"
  foreground_color = "#d9e6f2"
  palette = "#000000:#c54044:#44c540:#c5c140:#4044c5:#c140c5:#40c5c1:#d9d9d9:#262626:#db898c:#8cdb89:#dbd989:#898cdb:#d989db:#89dbd9:#ffffff"